﻿@model IEnumerable<Infraestucture.Models.movimientoTipo>

@{
    ViewBag.Title = "Index";
}

<h2>Movimientos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreMovimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMovimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMovimientoTipo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMovimientoTipo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMovimientoTipo })
        </td>
    </tr>
}

</table>
