﻿@model IEnumerable<Infraestucture.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedores</h2>


<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.nombreProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.nombreProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais)
        </td>
        
       <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idProveedor }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idProveedor })
        </td>
    </tr>
}

</table>
