﻿@model IEnumerable<Infraestucture.Models.Rol>

@{
    ViewBag.Title = "Roles";
}


<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcionRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionRol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idRol }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idRol }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idRol })
                </td>
            </tr>
        }
    </tbody>
</table>
