﻿@model IEnumerable<Infraestucture.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.nombrePersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccionPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais)
        </th>
       <!-- <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Rol.descripcionRol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nombrePersona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direccionPersona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefonoPersona)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pais)
    </td>
    <!--   <td>
           @Html.DisplayFor(modelItem => item.estado)
       </td>-->
    <td>
        @Html.DisplayFor(modelItem => item.Rol.descripcionRol)
    </td>
    <!--  <td>
          @Html.ActionLink("Edit", "Edit", new { id=item.idPersona }) |
          @Html.ActionLink("Details", "Details", new { id=item.idPersona }) |
          @Html.ActionLink("Delete", "Delete", new { id=item.idPersona })
      </td>-->
</tr>
}

</table>
