﻿@model IEnumerable<Infraestucture.Models.Ubicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Ubicaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descUbicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descUbicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUbicacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUbicacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUbicacion })
        </td>
    </tr>
}

</table>
